<table *ngIf="MostrarTabla">
    <thead>
      <tr>
      <th>Horario</th>
      <th >Turnos</th>
      </tr>
    </thead>
    <!-- semana -->
    <caption> {{ Dia.Dia | date:'dd-MM-yyyy' }} {{ Dia.Especialista.Nombre }}   </caption>
    <tbody>
      <tr *ngFor="let turno of Dia.Turnos ">
        <!-- Horario  mostrar  -->
        <td  class="hora" >{{ turno.Time | date:'HH:mm:ss' }}</td>
        <button  (click)="ReservarTurno(turno)" >Reservar Turno</button>
        <!--
        <button  (click)="ReservarTurno(turno)" >Cancelar Turno</button>
        -->
      </tr>
    </tbody>
  </table>
