<table>
  <caption>Atenciones de la fecha {{ Dia | date:'dd-MM-yyyy' }} </caption>
  <thead>
    <tr>
      <th>Horario</th>
      <th>Paciente</th>
      <th>Acciones</th>
    </tr>
  </thead> <!-- semana -->
  <tbody>
    <tr *ngFor="let iturnoid of Turnos | async ">
      <!-- Horario  mostrar  -->
      <td class="hora">{{ iturnoid.turno.time | timestr | date:'HH:mm:ss' }}</td>
      <td>{{ iturnoid.turno.clienteUID }}</td>
      <td [ngSwitch]="AccionDisponibleMostrar(iturnoid)">
        <button *ngSwitchCase="vigente" (click)="MarcarAsistencia(iturnoid)">Reservar Turno</button>
        <button *ngSwitchCase="vigente" (click)="MarcarFalta(iturnoid)">Cancelar Turno</button>
        <span *ngSwitchDefault class="nodisponible">No Disponible</span>
      </td>
    </tr>
  </tbody>


</table>
