<div class="register-box-body">
  <p class="login-box-msg">Reseña de la visita del paciente </p>
  <form [formGroup]="VisitaForm" (ngSubmit)="Registrar()">
    <div class="form-group has-feedback">
      <span>Ingrese una breve reseña sobre los tratamientos realizadosal paciente</span>
      <textarea [formControl]="ResenaControl" value="" class="form-control"></textarea>
      <div *ngIf="ResenaInput.invalid && (ResenaInput.dirty || ResenaInput.touched)" class="alert alert-danger">
        <div *ngIf="ResenaInput.hasError('required')">Complete con una reseña sobre los tratamientos aplicados al paciente  </div>
        <div *ngIf="ResenaInput.hasError('minlength')">Debe tener al menos 4 caracteres</div>
      </div>
    </div>
    <div class="row">
      <div class="col-xs-12">
        <button type="submit" class="btn btn-primary btn-block btn-flat" [disabled]="!VisitaForm.valid">Registrar Reseña</button>
      </div>
    </div>
  </form>
