<h1> Mis reservas</h1>
<!-- Mis resevados -->
<app-tabla-reservas *ngIf="!OcultarTablaReservas"
 [clienteUID]="CurrentUID"
  (cancelarTurno)="CancelarTurno($event)"
  (completarEncuesta)="SolicitarEncuesta($event)"
  [reservas]="Reservas">
</app-tabla-reservas>
<!-- encuesta -->
<app-encuesta *ngIf="!OcultarEncuestas">

</app-encuesta>

<hr />
<h1>Reservar un nuevo Turno</h1>
<!-- filtros -->
<div class="row">
  <div class="col-xs-12">
    <!-- -->
    <app-especialista (filtrosAplicados)="EspecialistaSeleccionado($event)"></app-especialista>
    <!-- -->
    <app-fecha (filtrosAplicados)="AplicarFiltros($event)" [hidden]="OcultarSelectorFechas"></app-fecha>
    <!-- -->
  </div>
</div>
<div class="row" *ngIf="!OcultarTablaTurnos">
  <div class="col-xs-12">
    <!-- Tabla de turnos disponibles -->
    <app-tabla-turnos
    [turnos]="Turnos"
    [dia]="DiaConsultado"
    [clienteUID]="CurrentUID"
    [especialista]="Especialista"
    (reservarTurno)="ReservarTurno($event)"
    (cancelarTurno)="CancelarTurno($event)"
    ></app-tabla-turnos>
  </div>
</div>
